[submodule "projects/baselines/llm-awq"]
	path = projects/baselines/llm-awq
	url = https://github.com/mit-han-lab/llm-awq.git
[submodule "projects/baselines/exllamav2"]
	path = projects/baselines/exllamav2
	url = https://github.com/turboderp/exllamav2.git
[submodule "projects/baselines/bitsandbytes"]
	path = projects/baselines/bitsandbytes
	url = https://github.com/TimDettmers/bitsandbytes.git
[submodule "projects/baselines/ao"]
	path = projects/baselines/ao
	url = https://github.com/pytorch/ao.git
