[submodule "baselines/llm-awq"]
	path = baselines/llm-awq
	url = https://github.com/mit-han-lab/llm-awq.git
[submodule "baselines/exllamav2"]
	path = baselines/exllamav2
	url = https://github.com/turboderp/exllamav2.git
[submodule "baselines/bitsandbytes"]
	path = baselines/bitsandbytes
	url = https://github.com/TimDettmers/bitsandbytes.git
